{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row align-items-center py-4">
            <div class="col-lg-6 col-7">
              <h6 class="h2 text-white d-inline-block mb-0"></h6>
              <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                  <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                  <li class="breadcrumb-item"><a href="#">Hướng dẫn giao dịch</a></li>
                  <li class="breadcrumb-item active" aria-current="page"></li>
                </ol>
              </nav>
            </div>
          </div>
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Tổng truy cập</h5>
                      <span class="h2 font-weight-bold mb-0">{{ tongtruycap }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-active-40"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> </span>
                    <span class="text-nowrap"></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Người dùng mới</h5>
                      <span class="h2 font-weight-bold mb-0">{{ nguoidungmoi}}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-chart-pie-35"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i></span>
                    <span class="text-nowrap"></span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">Đã bán</h5>
                      <span class="h2 font-weight-bold mb-0">{{ daban }}</span>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                        <i class="ni ni-money-coins"></i>
                      </div>
                    </div>
                  </div>
                  <p class="mt-3 mb-0 text-sm">
                    <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> </span>
                    <span class="text-nowrap"></span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-12">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Hướng dẫn giao dịch</h3>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col"></th>
                  </tr>
                </thead>
              <td>
                  <p>
                    <h3 style="font-size: 36px">Xin cảm ơn bạn đã sử dụng dịch vụ của chúng tôi !</h3><br/>
                  <br/>
                    <b style="font-size: 24px"><i>Đối với việc mua đồ bằng xu: </i>
                        Sau khi mua đồ trên hệ thống thành công, hệ thông sẽ cấp cho bạn một <b style="color: red">mã giao dịch</b> !<br/>
                        Sau đó tới làng toge 86 ibox mã giao dịch cho nhân vật dichvugtht và tiến hành gửi yêu cầu giao dịch
                    </b>
                  <br/>
                  <br/>
                  <br/>
                  <b style="font-size: 24px"><i>Đối với việc mua đồ bằng ATM: </i>
                        Sau khi mua đồ trên hệ thống thành công, hệ thông sẽ cấp cho bạn một <b style="color: red">mã giao dịch</b> !<br/>
                      <br/>
                        Chuyển khoản momo đến sdt: <b style="color: red">0868751549</b> <br>
                        Chủ tài khoản momo: <b style="color: red">Phạm Xuân Tuấn</b> <br>
                      <br>
                        Ngân hàng VCB stk: <b style="color: red">0491000082912 <br/></b>
                        Chủ tài khoản: <b style="color: red">Phạm Xuân Tuấn <br/></b>
                        Chi nhánh: <b style="color: red">Thăng Long <br/></b>
                      <br>
                        Ngân hàng TPB stk: <b style="color: red"> 01887733401 <br/></b>
                        Chủ tài khoản: <b style="color: red">Phạm Xuân Tuấn <br/></b>
                      <br/>
                        <b style="color: red">Nội dung chuyển khoản là: </b><b style="color: red">mã giao dịch</b> ! <br/>
                      <br/>
                        Sau đó tới làng toge 86 ibox mã giao dịch cho nhân vật dichvugtht và tiến hành gửi yêu cầu giao dịch <br/>
                  </b>
                  <br/>
                  <br/>
                  <p style="font-size: 18px; color: red">Nếu làm mất mã giao dịch hãy ibox cho admin theo link:<br/>
                      FB: <a href="https://www.facebook.com/profile.php?id=100021653778156">Phạm Xuân Tuấn</a><br/>
                      Zalo: <a href="https://chat.zalo.me/">0868751549</a>
                  </p>
              </td>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include "includes/footer.html" %}

    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

    <script>
    /*
        On submiting the form, send the POST ajax
        request to server and after successfull submission
        display the object.
    */
    function muahang(thongtin, soluong) {
       $.ajax({
            type: 'POST',
            url: "{% url 'muahang' %}",
            data: {"thongtin": thongtin, "soluong": soluong},
            success: function (response) {
                console.log(response);
                alert(response['message_txt'])
            },
            error: function (){

            }
    })}
</script>

{% endblock javascripts %}

